<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="monoandroid90" />
  <package id="Acr.UserDialogs" version="7.0.4" targetFramework="monoandroid90" />
  <package id="AndHUD" version="1.4.1" targetFramework="monoandroid90" />
  <package id="AutoMapper" version="8.0.0" targetFramework="monoandroid90" />
  <package id="Fody" version="3.0.3" targetFramework="monoandroid90" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="monoandroid90" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="monoandroid90" />
  <package id="MvvmCross.Binding" version="5.7.0" targetFramework="monoandroid90" />
  <package id="MvvmCross.Core" version="5.7.0" targetFramework="monoandroid90" />
  <package id="MvvmCross.Platform" version="5.7.0" targetFramework="monoandroid90" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="monoandroid90" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="monoandroid90" />
  <package id="Realm" version="3.4.0" targetFramework="monoandroid90" />
  <package id="Realm.Database" version="3.4.0" targetFramework="monoandroid90" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="monoandroid90" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="monoandroid90" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="2.5.0" targetFramework="monoandroid90" />
  <package id="SQLiteNetExtensions" version="2.1.0" targetFramework="monoandroid90" />
  <package id="SQLiteNetExtensions.Async" version="2.1.0" targetFramework="monoandroid90" />
  <package id="sqlite-net-pcl" version="1.6.258-beta" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid90" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid90" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Runtime" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData.Core" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.ViewModel" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.AsyncLayoutInflater" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Collections" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CoordinaterLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CursorAdapter" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CustomView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.DocumentFile" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.DrawerLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Interpolator" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Loader" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.LocalBroadcastManager" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Print" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.SlidingPaneLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.SwipeRefreshLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.VersionedParcelable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.ViewPager" version="28.0.0.1" targetFramework="monoandroid90" />
</packages>